* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(../public/assets/background.jpg);
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body::before {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
